@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=1491153379608');
    /* IE9*/
    src: url('./iconfont.eot?t=1491153379608#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./iconfont.woff?t=1491153379608') format('woff'), /* chrome, firefox */
    url('./iconfont.ttf?t=1491153379608') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('./iconfont.svg?t=1491153379608#iconfont') format('svg');
    /* iOS 4.1- */
}

@font-face {
    font-family: 'webfont';
    src: url('./jian.ttf') format('truetype');
    /* iOS 4.1- */
}

.title {
    font-family: "webfont";
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
    content: "\e620";
}

.icon-heart:before {
    content: "\e6e1";
}

.icon-heart1:before {
    content: "\e661";
}

.icon-pinglun2:before {
    content: "\e669";
}

.icon-arrow:before {
    content: "\e603";
}

.icon-money-rmb:before {
    content: "\e63a";
}

.icon-icon11:before {
    content: "\e629";
}

.icon-icon11-copy:before {
    content: "\e62a";
}